#!/usr/bin/make -f
PREFIX  := /usr/lib/opentenbase
DESTDIR := $(CURDIR)/debian/tmp
JOBS    := $(shell nproc)

# gcc 13/14 strict checks + OpenSSL 3 deprecations
WARN_FLAGS := -Wno-deprecated-declarations -Wno-error -Wno-error=incompatible-pointer-types -Wno-error=int-conversion -Wno-error=implicit-function-declaration -Wno-error=implicit-int -Wno-incompatible-pointer-types -Wno-int-conversion -Wno-implicit-function-declaration -Wno-implicit-int

export DEB_CFLAGS_MAINT_APPEND := $(WARN_FLAGS)
export DEB_LDFLAGS_MAINT_APPEND := -latomic -Wl,-rpath,/usr/lib/opentenbase/lib

# Force system libraries (avoid conda paths)
export PATH := /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
export PKG_CONFIG_PATH := /usr/lib/x86_64-linux-gnu/pkgconfig:/usr/share/pkgconfig

%:
	dh $@

override_dh_auto_configure:
	./configure \
	    --prefix=$(PREFIX) \
	    --sysconfdir=/etc/opentenbase \
	    --datarootdir=$(PREFIX)/share \
	    --includedir=/usr/include/opentenbase \
	    --with-openssl \
	    --with-ldap \
	    --with-pam \
	    --with-libxml \
	    --with-readline \
	    --with-uuid=ossp \
	    --enable-license=no \
	    --enable-thread-safety \
	    XML2_CONFIG=/usr/bin/xml2-config \
	    CFLAGS="-O2 -g -fPIC $(WARN_FLAGS) -I/usr/include/libxml2" \
	    LDFLAGS="-L/usr/lib/x86_64-linux-gnu -latomic -Wl,-rpath,/usr/lib/opentenbase/lib" \
	    LIBS="-latomic"

override_dh_auto_build:
	$(MAKE) -j$(JOBS) all
	$(MAKE) -j$(JOBS) -C contrib all

override_dh_auto_install:
	$(MAKE) -j$(JOBS) DESTDIR=$(DESTDIR) install
	$(MAKE) -j$(JOBS) DESTDIR=$(DESTDIR) -C contrib install
	install -D -m 0755 debian/opentenbase-ctl $(DESTDIR)/usr/bin/opentenbase-ctl
	install -D -m 0644 debian/opentenbase.conf $(DESTDIR)/etc/opentenbase/opentenbase.conf
	install -D -m 0644 debian/gtm.conf.template $(DESTDIR)/etc/opentenbase/gtm.conf.template
	install -D -m 0644 debian/postgresql.conf.coord.template $(DESTDIR)/etc/opentenbase/postgresql.conf.coord.template
	install -D -m 0644 debian/postgresql.conf.dn.template $(DESTDIR)/etc/opentenbase/postgresql.conf.dn.template
	install -D -m 0644 debian/pg_hba.conf.template $(DESTDIR)/etc/opentenbase/pg_hba.conf.template
	# Install raw SGML doc sources into doc package staging area
	mkdir -p $(DESTDIR)/usr/share/doc/opentenbase/sgml
	if [ -d doc/src/sgml ]; then \
	    find doc/src/sgml -maxdepth 1 -type f \( -name '*.sgml' -o -name '*.xml' \) -exec cp {} $(DESTDIR)/usr/share/doc/opentenbase/sgml/ \; ; \
	fi
	# Rename pg_config -> opentenbase_config public symlink (also keep private one)
	if [ -e $(DESTDIR)$(PREFIX)/bin/pg_config ]; then \
	    install -D -m 0755 $(DESTDIR)$(PREFIX)/bin/pg_config $(DESTDIR)/usr/bin/opentenbase_config; \
	fi

override_dh_auto_test:
	true

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_shlibdeps:
	dh_shlibdeps -l$(CURDIR)/debian/tmp$(PREFIX)/lib || true

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start

override_dh_missing:
	dh_missing --list-missing

override_dh_auto_clean:
	if [ -f GNUmakefile ] || [ -f Makefile ]; then $(MAKE) distclean || true; fi
	rm -rf debian/tmp

override_dh_autoreconf:
	# OpenTenBase v5.0 ships configure for autoconf 2.69; do not regenerate
	true

override_dh_update_autotools_config:
	true
